<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>icon</title>
  <link rel="stylesheet" href="../fonts/icomoon2.css">
  <style>
    .font-list {padding: 20px;}
    .font-list > * { margin: 5px;}
  </style>
</head>
<body>
  <ul class="font-list">${FONT_PLACEHOLDER}</ul>
</body>
</html>
