/**
 * base css rule according to SMACSS
 * https://smacss.com/book/prototyping
 */
html, body {
    height: 100%;
    width: 100%;
    display: inline-block;
  background-color: #f6f6f6
}
/**
 * html中的font-size用来给rem做基准，这里设置body的font-size，用来给weui中的组件做基准
 */
body {
  font-size: 16px;
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 基本布局 */
.fixed-view {
    position: fixed;overflow: auto;left:0;right:0;top: 0;bottom: 0;
    -webkit-overflow-scrolling: touch;}

.fixed-view.is-show-title {
    top: $headerHeight;
}
.fixed-view.is-show-nav {
    bottom: $footerHeight;
}
.v-h-center {
  position: absolute;margin:auto;top:0;right:0;bottom:0;left:0;
}

.bottom-fixed {
    position: fixed;left:0;right:0;bottom:0;
}

.div-editable {
    outline: none;
    padding: 15px 2px;
    min-height: 70px;
}
div.div-editable.editable-blank {
    color: #A3A3A3;
}

/* float button */
.float-action-button {
    position: fixed;
    border-radius: 50%;
}

.text-grey {color: #999999;}
.text-mid-line {text-decoration: line-through;}

/* 通用list列表 */
/* 单行居中列表项样式
    基本结构：
    .itm-outer  最外层样式
        .itm-inner  内层样式，方便设置边距
            .itm-title  中间的文字显示区
            .itm-front-icons  文字之前的图标区
            .itm-rear-icons  文字之后的图标区
 */
.itm-lst {
    position: relative;overflow-y: auto;overflow-x:hidden;margin:0;
    -webkit-overflow-scrolling: touch;
}
.itm-lst--border {
    border-top:0.5px solid #E4E4E4;
    border-bottom:0.5px solid #E4E4E4;
}
.itm-lst--itm-border > li .itm-inner {
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.itm-lst--itm-border > li:last-child .itm-inner {
    border-bottom: none;
}
.itm-lst--margin {
    margin: 12px 0;
}
.itm-outer {position: relative;box-sizing: border-box;width:100%;padding: 0 16px;}
.itm-inner {position: relative;}
.itm-title {height:45px;line-height:45px;overflow: hidden;}
.itm-title-main {}
.itm-title.itm-title-lines {line-height:40px;}
.itm-title-lines .itm-title-sub {font-size: 13px;color:$mainColor;position: absolute;left: 40px;top: 24px;}
.itm-title--center {text-align: center;}

.itm-title-super {}
.itm-title-super > * {display: inline-block;vertical-align: middle;font-size:14px;margin-right:5px;}

.itm-icons {position: absolute;top:50%;margin-top: -21px;height:42px;line-height:42px;
    overflow:hidden;max-width: 60%;text-overflow: ellipsis;white-space: nowrap;}
.itm-icons.itm-icon--align-top {top: 21px;}
.itm-icons .icon {font-size:2.4rem;}
.itm-icons.itm-icons--white-bg .icon {background: #fff;}
.itm-front-icons {}
.itm-rear-icons {}
.itm-placeholder {height: 170px;text-align: center;line-height:170px;color:$textGrey;}
.itm-avatar {width: 36px;height:36px;margin-top:3px;background-size: cover;border-radius: 2px;}
.itm-avatar--round {border-radius: 50%;}
.itm-avatar.itm-avatar--small {width: 32px;height:32px;margin-top:5px;}
.itm-avatar-wrap--small {padding-top: 5px;}
.itm-icon-img-wrap-right>* {
    display: inline-block;
    //vertical-align: middle;
    margin-right: 0.133rem;
    float: right;
}
.itm-icon-img-wrap-left>* {
  display: inline-block;
  //vertical-align: middle;
  margin-left: 5px;
  float: left;
}
.itm-icon-img-wrap {
  //position: absolute;
  //top: 0.3rem;
  //left: 5.7rem;
  //width: 4rem;
}
.itm-icon-img {width: 24px;height: 24px;vertical-align: middle;margin-right: 5px;display: inline-block}

.itm-lst-title {position: relative;padding: 0 20px;}
.itm-lst-title-text {height:34px;line-height: 34px;font-size:14px;}

.itm-edt {
  //height: 100%;
  background-color: white;
}
.itm-edt-fields {
    min-height: 100%;background: #f6f6f6;padding: 10px 0 0 0;}
.itm-group, .itm-single {
    position: relative;
    //background: #ffffff;
    //box-shadow: $zDeepShadow0;
    /* border-radius: 2px; */
    overflow: hidden;
    //margin-bottom: 10px;
}
.itm-group > .itm-outer:last-child {}

.itm-complex-title {padding: 16px 0;}
.itm-complex-title-label {height: 32px;}
.itm-complex-title-input {height: 32px;border-bottom: solid 1px #f3f3f3;}
.itm--large .itm-complex-title {padding-left: 80px;height:64px;}
.itm--large .itm-icons {margin-top: -32px;height:64px;line-height:64px;}
.itm--large .itm-avatar {width: 64px;border-radius: 4px;}

/* 个性化item */
.kb-item:first-child {padding-top: 8px;}
.kb-item:last-child {padding-bottom: 8px;}

.itm-lst--kanban{padding-left: 56px;}

.itm-lst--kc {padding-bottom: 100px;}
/* .itm-lst--kc .itm-lst {padding: 0 10px;} */
.itm-lst--kc  {padding-left: 40px;}
.itm-lst--kc .kb-item:last-child .itm-inner {border-bottom: none;}

.itm-lst--docset {padding-bottom: 100px;}
.itm-lst--doc .doc-item:last-child .itm-inner {border-bottom: none;}
.doc-item .itm-title {height:initial;line-height:initial;}
.doc-item .itm-title-super {padding: 16px 0;margin: 0;}
.keep-one-line {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}

.itm--edit-todo .itm-title {padding-left: 40px;height:50px;line-height:50px;}
.itm--edit-todo .itm-inner {border-top: solid 1px rgba(0,0,0,0.1);}
.itm--edit-todo .itm-outer:first-child .itm-inner {border: none;}

.itm-list--kb-new {padding-top: 10px;}

/* 评论相关 */
.cmt {position: relative;padding-top: 10px;padding-bottom: 10px;}
.cmt .cmt-name {padding-right: 40px;}
.cmt .cmt-time, .cmt .cmt-name {font-size: 1.2rem;color: #a3a3a3;}
.cmt .cmt-content {padding-top: 15px;}
.cmt .btn-reply {position: absolute;right:0;top:10px;}

.cmt-send-field {position: fixed;bottom:0;width:100%;z-index:999;background:#f6f6f6;
    overflow:hidden;box-sizing: border-box;padding: 15px;
    border-top:solid 1px #e8e8e8;}
.cmt-send-input-wrap {position:relative;padding:0 70px 0 0;}
.cmt-send-btn-upload {position:absolute;color:#0096f6;font-size: 30px;left:0;bottom:0;width: 40px;
    height: 30px;line-height: 30px;margin: 7px 0;
    text-align: center;border-right:solid 1px rgba(0,0,0,0.1);}
.cmt-send-input textarea {
    /*padding: 8px 8px 8px 50px;*/
    padding: 8px;
    font-size: 16px;
    background:#ffffff;
    box-shadow:0px 0px 1px 0px rgba(0,0,0,0.13);
    border-radius:3px;
    resize: none;
    overflow: auto;
    max-height: 200px;
}
input[type="button"].cmt-send-btn-submit {
    position:absolute;right:15px;height:40px;line-height:40px;bottom:15px;width:60px;padding:0;}

.todo-done {
    text-decoration: line-through;
    color: #aaa;
}

/* modal */
.modal-wrap {
    position: relative;
}
.modal-shade, .modal-main {
    position: fixed;left: 0;top: 0;width: 100%;height: 100%;
}
.modal-shade {background-color: rgba(0,0,0,.5);pointer-events: auto;}
.modal-main {display: table;}
.modal-cell {display: table-cell;vertical-align: middle;text-align: center;}
.modal-content {
    display: inline-block;box-shadow: $zDeepShadow5;background: $bgColor;
    overflow: hidden;border-radius: 4px;
}
.modal-content.content--kb-edit {width: 80%;}
.modal-header {position: relative;color: #fff;}
.modal-header-bg {background-size: cover; background-position: center;width: 100%;height: 120px;}
.modal-btn-right-top {
  position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;}
.modal-header-title {position: absolute;left: 10%;width: 80%;bottom: 10%;}
.modal-header-title-text {
  display: inline;
  padding: 5px;
  background: rgba(0,0,0,0.26);
  color: #fff;
  border-radius: 3px;
  font-family: PingFangSC-Regular;
  color: #000000;
  letter-spacing: -0.46px;
}
.modal-body, .modal-footer {padding: 20px;text-align: left;}

.content--con-edit .modal-header-bg {background: $mainColor;}
.content--con-edit .modal-header-title-text {
    display:block;width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin: 0;
    background: transparent;font-size: 1.4rem;}

.bg-con-ie {background: red;}
.bg-con-iu {background: orange;}
.bg-con-ue {background: blue;}
.bg-con-uu {background: green;}

/* text-icon combined text and icon
.text-icon {margin: 0 auto;text-align: center;color: #BBC7D3;padding-top: 3px;}
.text-icon .icon {font-size: 2rem;line-height:0;}
.text-icon .icon-title {display: block;margin-top:-1px;font-size:1rem;}
*/
.btn-block {width:100%;}

/* 含有一半border */
.itm--part-line .itm-outer {padding-right:0;}
.itm--part-line  {padding-right: 16px;}
.itm--part-line .u-abs-right {right:16px;}

/* 个人中心 */
.main-avatar {}
.main-avatar .avatar {margin: 36px auto 22px auto;}
.main-avatar-text {text-align: center;font-size: 1.6rem;margin: 0 30px 36px;}

/* 笔记 */
.doc-title .itm-outer {
    background: transparent;
}
.doc-title .itm-title {
    border-bottom: solid 1px #dadada;
}
.doc-title .itm-title-main input[type=text] {
    background: transparent;
    height: 56px;font-size: 2.4rem;
}
.doc-body {
    padding: 0 16px;overflow-y: auto;background: #fff;
    position: absolute;left: 0;right: 0;top: 67px;bottom: 0;
}
.mui-switch {
  width: 52px;
  height: 31px;
  position: absolute;
  top:0.35rem;
  right:0.3rem;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
.mui-switch:before {
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
.mui-switch:checked {
  border-color: #44DB5E;
  box-shadow: #44DB5E 0 0 0 16px inset;
  background-color: #44DB5E; }
.mui-switch:checked:before {
  left: 21px; }

.btn-group {
  padding-top: 0.5rem;
}
.btn-wrap {
  padding: 0.3rem 0.3rem 0;
}

div.el-message-box {
  width: 8rem;
}
div.el-message-box input.el-input__inner {
  border: 1px solid #dcdfe6;
}

.common-field {
  position: relative;
  background: #FFF;
}
.common-field .outer-wrap {
  padding-left: 0.3rem;
}
.common-field:last-child .outer-wrap {
  border-bottom: none;
}

.icon-field-group .common-field {
  padding-left: 1.2rem;
}
.icon-field-group .common-field .outer-wrap {
  padding-left: 0;
}

/* 去掉element-ui的右上角的按钮 */
button.el-message-box__headerbtn i.el-message-box__close {
  display: none;
}

.icon-field-group{
  border-top: 0.5px solid #D4D4D4;
  border-bottom: 0.5px solid #D4D4D4;
}
  .weui-btn:after{
    border: 0
  }