$mainColor: #38adff;
$bgColor: #fff;
$revBgColor: #38adff;
$revMainColor: #fff;
$alertColor: #F07361;
$textDark: rgba(0,0,0,0.66);
$textNormal: rgba(0,0,0,0.46);
$textGrey: rgba(0,0,0,0.2);
$zDeepShadow0: 0px 0px 1px 0px rgba(0,0,0,0.15);
$zDeepShadow1: 0 2px 5px 0 rgba(0,0,0,0.04),0 2px 10px 0 rgba(0,0,0,0.02);
$zDeepShadow2: 0 8px 17px 0 rgba(0,0,0,0.08),0 6px 20px 0 rgba(0,0,0,0.06);
$zDeepShadow3: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
$zDeepShadow4: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
$zDeepShadow5: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);

$headerHeight: 52px;
$footerHeight: 62px;
